.DS_Store

# MySQL & Redis data
data/mysql
data/revisions-db
data/redis
data/import/*.sql

# Ignore ENV variables config
.env
auth.env
api-gateway.env
syncing-server.env
files.env
revisions.env

# File Uploads
data/uploads/*
!data/uploads/.gitkeep
