LOG_LEVEL="info"
NODE_ENV="production"

PORT=3000

NEW_RELIC_ENABLED=false
NEW_RELIC_APP_NAME="API Gateway"
NEW_RELIC_NO_CONFIG_FILE=true

SYNCING_SERVER_JS_URL="http://syncing-server-js:3000"
AUTH_SERVER_URL="http://auth:3000"

HTTP_CALL_TIMEOUT=10000
