LOG_LEVEL="info"
NODE_ENV="production"
VERSION="local"

AUTH_JWT_TTL=60000
JWT_SECRET=secret
LEGACY_JWT_SECRET=legacy_jwt_secret

NEW_RELIC_ENABLED=false
NEW_RELIC_APP_NAME=Auth
NEW_RELIC_NO_CONFIG_FILE=true

REDIS_EVENTS_CHANNEL="auth-events"

DISABLE_USER_REGISTRATION=false

PSEUDO_KEY_PARAMS_KEY=secret_key

ACCESS_TOKEN_AGE=5184000
REFRESH_TOKEN_AGE=31556926

MAX_LOGIN_ATTEMPTS=6
FAILED_LOGIN_LOCKOUT=3600

EPHEMERAL_SESSION_AGE=259200

# Must be a hex string exactly 32 bytes long
# e.g. feffe9928665731c6d6a8f9467308308feffe9928665731c6d6a8f9467308308
ENCRYPTION_SERVER_KEY=server_key

SYNCING_SERVER_URL=http://syncing-server-js:3000

# File Uploads
VALET_TOKEN_TTL=7200

# Localstack Setup (Do not change unless you want to use your real AWS account)
SNS_TOPIC_ARN="arn:aws:sns:us-east-1:000000000000:auth-local-topic"
SNS_ENDPOINT="http://localstack:4566"
SNS_DISABLE_SSL=true
SNS_SECRET_ACCESS_KEY="x"
SNS_ACCESS_KEY_ID="x"
SNS_AWS_REGION="us-east-1"
SQS_QUEUE_URL="http://localstack:4566/000000000000/auth-local-queue"
SQS_AWS_REGION="us-east-1"
SQS_ACCESS_KEY_ID="x"
SQS_SECRET_ACCESS_KEY="x"
SQS_ENDPOINT="http://localstack:4566"

# (Optional) U2F Setup
U2F_RELYING_PARTY_ID=
U2F_RELYING_PARTY_NAME=
U2F_EXPECTED_ORIGIN=
U2F_REQUIRE_USER_VERIFICATION=
