LOG_LEVEL="info"
NODE_ENV=production
VERSION=local

PORT=3000

S3_BUCKET_NAME=
S3_AWS_REGION=
SNS_TOPIC_ARN=
SNS_AWS_REGION=

REDIS_URL=redis://cache
REDIS_EVENTS_CHANNEL=events

MAX_CHUNK_BYTES=100000000

NEW_RELIC_ENABLED=false

# Localstack Setup (Do not change unless you want to use your real AWS account)
SNS_TOPIC_ARN="arn:aws:sns:us-east-1:000000000000:files-local-topic"
SNS_ENDPOINT="http://localstack:4566"
SNS_DISABLE_SSL=true
SNS_SECRET_ACCESS_KEY="x"
SNS_ACCESS_KEY_ID="x"
SNS_AWS_REGION="us-east-1"
SQS_QUEUE_URL="http://localstack:4566/000000000000/files-local-queue"
SQS_AWS_REGION="us-east-1"
SQS_ACCESS_KEY_ID="x"
SQS_SECRET_ACCESS_KEY="x"
SQS_ENDPOINT="http://localstack:4566"
