LOG_LEVEL="info"
NODE_ENV=production
VERSION=local

REDIS_URL="redis://cache:6379"

REDIS_EVENTS_CHANNEL="revisions-events"

NEW_RELIC_ENABLED=false

# Localstack Setup (Do not change unless you want to use your real AWS account)
SNS_TOPIC_ARN="arn:aws:sns:us-east-1:000000000000:revisions-server-local-topic"
SNS_ENDPOINT="http://localstack:4566"
SNS_DISABLE_SSL=true
SNS_SECRET_ACCESS_KEY="x"
SNS_ACCESS_KEY_ID="x"
SNS_AWS_REGION="us-east-1"
SQS_QUEUE_URL="http://localstack:4566/000000000000/revisions-server-local-queue"
SQS_AWS_REGION="us-east-1"
SQS_ACCESS_KEY_ID="x"
SQS_SECRET_ACCESS_KEY="x"
SQS_ENDPOINT="http://localstack:4566"
